<%= render "shared/header" %>
<div class="post-new-main">
  <h2 class="post-new-title">新規投稿</h2>
  <%= form_with model: @post, local: true do |f|%>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="field">
      <div class="form-content">画像
        <span class="indispensable">※必須</span><br />
      </div>
      <%= f.file_field :image, id:"post_image" %>
    </div>

    <div class="field">
      <div class="form-content">タイトル
        <span class="indispensable">※必須</span><br />
      </div>
      <%= f.text_area :title, class:"posts-text", id:"post_title" %>
    </div>

    <div class="field">
      <div class="form-content">カテゴリー
        <span class="indispensable">※必須</span><br />
      </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"post-category"}) %>
    </div>

    <div class="field">
      <div class="form-content">ジャンル
        <span class="indispensable">※必須</span><br />
      </div>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"post-junre"}) %>
    </div>

    <div class="field">
      <div class="form-content">説明
        <span class="indispensable">※必須</span><br />
      </div>
      <%= f.text_field :explanation, class:"posts-text", id:"post_explanation" %>
    </div>

    <div class="actions">
      <%= f.submit "投稿する", class:"post-create"  %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  <% end %>
</div>